<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="content-type" content="text/html;charset=utf-8">
	<meta name="viewport" content="width=device-width;initial-scale=1.0;maximum-scale=1.0;">
	<title></title>
	<style type="text/css">
		@font-face {
			font-family: 'ProximaNova';
			font-style: normal;
			font-weight: 400;
			src: local('ProximaNova'), local('ProximaNova Regular'), local('ProximaNova-Regular'), local('Proxima Nova'), local('Proxima-Nova'), local('Proxima Nova Regular'), local('Proxima-Nova-Regular'), url(http://www.petrol.si/sites/www.petrol.si/files/newsletter/grafi%C4%8Dni_elementi/font/proximanova-regular-webfont.woff) format('woff');
		}

		@font-face {
			font-family: 'ProximaNova';
			font-style: normal;
			font-weight: 700;
			src: local('ProximaNova Bold'), local('ProximaNova-Bold'), local('Proxima Nova Bold'), local('Proxima-Nova-Bold'), url(http://www.petrol.si/sites/www.petrol.si/files/newsletter/grafi%C4%8Dni_elementi/font/proximanova-bold-webfont.woff) format('woff');
		}

		@font-face {
			font-family: 'ProximaNova';
			font-style: normal;
			font-weight: 300;
			src: local('ProximaNova Light'), local('ProximaNova-Light'), local('Proxima Nova Light'), local('Proxima-Nova-Light'), url(http://www.petrol.si/sites/www.petrol.si/files/newsletter/grafi%C4%8Dni_elementi/font/proximanova-light-webfont.woff) format('woff');
		}

		html {
			width: 100%;
		}

		body {
			width: 100%;
			background-color: #f5f5f5;
			margin: 0;
			padding: 0;
			-webkit-font-smoothing: antialiased;
			mso-margin-top-alt: 0;
			mso-margin-bottom-alt: 0;
			mso-padding-alt: 0 0 0 0;
		}

		table {
			font-size: 14px;
			border: 0;
		}
		.tel a {
			color: #ffffff !important;
			text-decoration: none;
		}
		.ter a {
			color: #7ca1c9 !important;
			text-decoration: none;
		}
		.mat a {
			color: #aaacaf !important;
			text-decoration: none;
		}
		/* RESPONSIVE */
		/* 900px and abowe & just email clients that supports media queries */

		@media only screen and (min-width: 900px) {
			/* header image */
			.img-768 {
				display: block !important;
				width: auto !important;
				max-height: inherit !important;
				overflow: visible !important;
				float: none !important;
			}
			.img-640 {
				display: none !important;
			}
			.img-320 {
				display: none !important;
			}
		}
		/* 899px and below */

		@media only screen and (max-width: 899px) {
			/* header image */
			.img-768 {
				display: block !important;
				width: auto !important;
				max-height: inherit !important;
				overflow: visible !important;
				float: none !important;
			}
			.img-640 {
				display: none !important;
			}
			.img-320 {
				display: none !important;
			}
			.hide-mobile {
				display: none !important;
			}
		}
		/* 767px and below */

		@media only screen and (max-width: 767px) {
			/* header image */
			.img-768 {
				display: none !important;
			}
			.img-640 {
				display: block !important;
				width: auto !important;
				max-height: inherit !important;
				overflow: visible !important;
				float: none !important;
			}
			.img-320 {
				display: none !important;
			}
		}
		/* 639 and below */

		@media only screen and (max-width: 639px) {
			/* header image */
			.img-768 {
				display: none !important;
			}
			.img-640 {
				display: none !important;
			}
			.img-320 {
				display: block !important;
				width: auto !important;
				max-height: inherit !important;
				overflow: visible !important;
				float: none !important;
			}
			/* header */
			.main-header {
				line-height: 28px !important;
			}
			.header-web {
				line-height: 30px !important;
				text-align: center !important;
				font-size: 14px !important;
			}
			.center-align {
				text-align: center !important;
			}
			/* container */
			.container590 {
				width: 440px !important;
			}
			/* secions*/
			.section-item {
				width: 440px !important;
				text-align: center !important;
			}
			.section-item-left {
				width: 440px !important;
				text-align: left !important;
			}
			.section-img img {
				width: 439px !important;
				height: auto !important;
			}
		}
		/* 479px and below */

		@media only screen and (max-width: 479px) {
			/* header */
			.main-header {
				line-height: 30px !important;
				font-size: 16px !important;
			}
			/* container */
			.container590 {
				width: 280px !important;
			}
			/* secions*/
			.section-item {
				width: 280px !important;
				text-align: center !important;
			}
			.section-item-left {
				width: 280px !important;
				text-align: left !important;
			}
			.section-img img {
				width: 280px !important;
				height: auto !important;
			}
			.section-img a {
				width: 280px !important;
			}
		}
	</style>
</head>

<body>
<!--[if mso]>
<style type="text/css">
body, table, td, h1, h2, h3 {font-family: Arial, Helvetica, sans-serif !important;}
</style>
<![endif]-->
	<span style="font-size: 4px; line-height: 4px; display: none !important;">{{data.preheader}}</span><img height="1" src="http://petrol.dmailer.net/trace/?mid={$messageId}&act=open" width="1" />
	<table bgcolor="ffffff" border="0" cellpadding="0" cellspacing="0" width="100%">
		<tbody>
			<tr>
				<td>
					<table align="center" border="0" cellpadding="0" cellspacing="0" class="container590" width="590">
						<tbody>
							<tr>
								<td align="center" width="100%">
									<table align="center" border="0" cellpadding="0" cellspacing="0" class="container590" width="590">
										<tbody>
											<tr>
												<td>
													<table align="left" border="0" cellpadding="0" cellspacing="0" class="container590" width="270">
														<tbody>
															<tr>
																<td height="20" style="font-size: 20px;line-height: 20px;">&nbsp;</td>
															</tr>
															<tr>
																<td>
																	<table align="left" border="0" cellpadding="0" cellspacing="0" class="section-item" style="border-collapse:collapse;mso-table-lspace:0pt;mso-table-rspace:0pt;" width="270">
																		<tbody>
																			<tr>
																				<td align="center" style="line-height: 58px;">
																					<a href="http://petrol.dmailer.net/trace/?mid={$messageId}&act=link&url=https://www.petrol-travel.si?utm_source=newsletter&utm_medium=email&utm_term={$treat_code}&utm_campaign={$campaign_id}&utm_content={$cus_id}" style=" border-style: none !important;border: 0 !important;" target="_blank">
																						<img alt="             PETROL Travel" border="0" height="58" src="http://www.petrol.si/sites/www.petrol.si/files/newsletter/travel-17-9-2014/petrol-travel.png" style="display: block; width: 270px; height: 58px; background-color: #f00; font-family: arial; font-style: bold; color: #fff; font-size: 18px" width="270" />
																					</a>
																				</td>
																			</tr>
																		</tbody>
																	</table>
																</td>
															</tr>
														</tbody>
													</table>
													<table align="left" border="0" cellpadding="0" cellspacing="0" class="hide-mobile" style="border-collapse:collapse;mso-table-lspace:0pt;mso-table-rspace:0pt;" width="10">
														<tbody>
															<tr>
																<td style="font-size: 20px;line-height: 20px;" width="10">&nbsp;</td>
															</tr>
														</tbody>
													</table>
													<table align="right" border="0" cellpadding="0" cellspacing="0" class="container590" width="290">
														<tbody>
															<tr>
																<td height="20" style="font-size: 20px;line-height: 20px;">&nbsp;</td>
															</tr>
															<tr>
																<td>
																	<table align="right" border="0" cellpadding="0" cellspacing="0" class="section-item" style="border-collapse:collapse;mso-table-lspace:0pt;mso-table-rspace:0pt;" width="300">
																		<tbody>
																			<tr>
																				<td align="center" class="header-web" style="color: #787b80;font-size: 12px;font-family: ProximaNova, Arial, sans-serif;line-height: 20px;text-align:right;">
																					<div style="line-height: 20px;">Vsebino tega sporočila si lahko ogledate tudi na <a href="[getUrlAlias]?utm_source=newsletter&utm_medium=email&utm_term={$treat_code}&utm_campaign={$campaign_id}&utm_content={$cus_id}" style="color:#fe0000">spletu</a>.
																						<br/>{{data.datum}}</div>
																				</td>
																			</tr>
																		</tbody>
																	</table>
																</td>
															</tr>
														</tbody>
													</table>
												</td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
							<tr>
								<td height="20" style="font-size: 20px;line-height: 20px;">&nbsp;</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
	<table bgcolor="f2f2f3" border="0" cellpadding="0" cellspacing="0" width="100%">
		<tbody>
			<tr>
				<td align="center">
					<a class="img-768" href="{{data.hurl}}&utm_source=newsletter&utm_medium=email&utm_term={$treat_code}&utm_campaign={$campaign_id}&utm_content={$cus_id}" style="display: none;width: 0;max-height: 0;overflow: hidden;float: left;border-style: none !important;border: 0 !important;" target="_blank">
						<img alt="{{data.halt}}" src="{{data.hsrc_folder}}768x450.jpg" style="display: block;border-width: 0px;border-style: solid;width: 768px;height: 450px; background-color: {{data.hbgcol}} ; font-family: arial; font-style: bold; color: #fff; font-size: 38px" />
					</a>
					<a class="img-640" href="{{data.hurl}}&utm_source=newsletter&utm_medium=email&utm_term={$treat_code}&utm_campaign={$campaign_id}&utm_content={$cus_id}" style="display: block;border-style: none !important;border: 0 !important;" target="_blank">
						<img alt="{{data.halt}}" border="0" height="450" src="{{data.hsrc_folder}}640x450.jpg" style="display: block; background-color: {{data.hbgcol}} ; font-family: arial; font-style: bold; color: #fff; font-size: 32px" width="640" />
					</a>
					<a class="img-320" href="{{data.hurl}}&utm_source=newsletter&utm_medium=email&utm_term={$treat_code}&utm_campaign={$campaign_id}&utm_content={$cus_id}" style="display: none;width: 0;max-height: 0;overflow: hidden;float: left;border-style: none !important;border: 0 !important;">
						<img alt="{{data.halt}}" border="0" height="393" src="{{data.hsrc_folder}}320x393.jpg" style="display: block; background-color: {{data.hbgcol}} ; font-family: arial; font-style: bold; color: #fff; font-size: 16px" width="320" />
					</a>
				</td>
			</tr>
		</tbody>
	</table>
	<!-- INSERT TRAVEL OFFERS HERE!!!---->
	<!-- ###### TRAVEL (3 cols to 1 col) ###### -->
	<table style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" bgcolor="ffffff" border="0" cellpadding="0" cellspacing="0" width="100%">
		<tbody>
			<tr>
				<td style="font-size: 45px; line-height: 45px;" height="45">&nbsp;</td>
			</tr>
			<tr>
				<td align="center">

					<!-- ###### 1 unit #1 (3 cols) border-bottom added ###### -->
					{{>row}}
				</td>
			</tr>
			<tr>
				<td>
					<table style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" class="container590" align="center" border="0" cellpadding="0" cellspacing="0" width="590">
						<tbody>
							<tr>
								<td style="font-size: 10px; line-height: 10px;" height="10">&nbsp;</td>
							</tr>
							<tr>
								<td align="center">
									<table style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" align="center" border="0" cellpadding="0" cellspacing="0" width="100%" bgcolor="0a4f99">
										<tbody>
											<tr>
												<td style="font-size: 20px; line-height: 20px;" width="20">&nbsp;</td>
												<td style="font-size: 20px; line-height: 20px;" height="20">&nbsp;</td>
												<td style="font-size: 20px; line-height: 20px;" width="20">&nbsp;</td>
											</tr>
											<tr>
												<td style="font-size: 20px; line-height: 20px;" width="20">&nbsp;</td>
												<td style="color: #ffffff; font-size: 18px; font-family:ProximaNova, Arial, sans-serif;line-height: 24px;" align="center" height="24">
													<div style="line-height: 24px;">
														Potrebujete pomoč pri rezervaciji? <span class="tel" style="font-weight: 700; ">01 23 09 444</span>
													</div>
												</td>
												<td style="font-size: 20px; line-height: 20px;" width="20">&nbsp;</td>
											</tr>
											<tr>
												<td style="font-size: 20px; line-height: 20px;" width="20">&nbsp;</td>
												<td style="font-size: 20px; line-height: 20px;" height="20">&nbsp;</td>
												<td style="font-size: 20px; line-height: 20px;" width="20">&nbsp;</td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
	<!-- ###### TRAVEL (3 cols to 1 col) end ###### -->
	<!-- INSERT TRAVEL OFFERS HERE END!!!---->
	<table bgcolor="ffffff" border="0" cellpadding="0" cellspacing="0" width="100%">
		<tbody>
			<tr>
				<td>
					<table class="container590" style="border-bottom: 3px solid #f7f7f7;" align="center" border="0" cellpadding="0" cellspacing="0" width="590">
						<tbody>
							<tr>
								<td style="font-size: 28px;line-height: 28px;" height="28">&nbsp;</td>
							</tr>
							<tr>
								<td style="color: #787b80;font-size: 12px;font-family: ProximaNova, Arial, sans-serif;line-height: 18px;" class="main-header text_color">
									<div style="line-height: 18px">To sporočilo ste prejeli, ker ste nam ob pregledovanju Petrolovih spletnih strani ali prek ene od naših nagradnih iger v ta namen pustili svoj elektronski naslov {$to}. Če tovrstnih sporočil ne želite več prejemati, se lahko <a href="http://petrol.dmailer.net/trace/?mid={$messageId}&act=link&url=http://www.petrol.si/newsletter/unsubscribe/{$unsubscribeToken}&utm_source=newsletter&utm_medium=email&utm_term={$treat_code}&utm_campaign={$campaign_id}&utm_content={$cus_id}" style="color: #fe0000;" target="_blank">odjavite</a>. Vsebino tega sporočila si lahko ogledate tudi <a href="[getUrlAlias]?utm_source=newsletter&utm_medium=email&utm_term={$treat_code}&utm_campaign={$campaign_id}&utm_content={$cus_id}" style="color: #fe0000;" target="_blank">na spletu</a>.</div>
								</td>
							</tr>
							<tr>
								<td style="font-size: 24px;line-height: 24px;" height="24">&nbsp;</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
		<!-- ###### FOOTER ###### -->
		<table bgcolor="ffffff" border="0" cellpadding="0" cellspacing="0" width="100%">
			<tbody>
				<tr>
					<td align="center">
						<table align="center" border="0" cellpadding="0" cellspacing="0" class="container590" width="590">
							<tbody>
								<tr>
									<td height="18" style="font-size: 18px; line-height: 18px;">&nbsp;</td>
								</tr>
								<tr>
									<td align="center">
										<table align="left" border="0" cellpadding="0" cellspacing="0" class="container590" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;">
											<tbody>
												<tr>
													<td align="center">
														<table border="0" cellpadding="0" cellspacing="0">
															<tbody>
																<tr>
																	<td class="center-align" style="color: #787b80; font-size: 13px; font-family: ProximaNova, Arial, sans-serif; mso-line-height-rule: exactly; line-height: 21px;">
																		<div style="line-height: 21px; font-weight: 700;">Petrol d.d., Ljubljana</div>

																		<div style="line-height: 21px;">Dunajska cesta 50 | 1527 Ljubljana | <a href="http://petrol.dmailer.net/trace/?mid={$messageId}&act=link&url=http://www.petrol.si/&utm_source=newsletter&utm_medium=email&utm_term={$treat_code}&utm_campaign={$campaign_id}&utm_content={$cus_id}" style="color: #fe0000;" target="_blank">www.petrol.si</a>
																		</div>
																	</td>
																</tr>


															</tbody>
														</table>
													</td>
												</tr>
											</tbody>
										</table>

										<table align="left" border="0" cellpadding="0" cellspacing="0" class="container590" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" width="5">
											<tbody>
												<tr>
													<td height="20" style="font-size: 20px; line-height: 20px;" width="5">&nbsp;</td>
												</tr>
											</tbody>
										</table>

										<table align="right" border="0" cellpadding="0" cellspacing="0" class="container590" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;">
											<tbody>
												<tr>
													<td align="center">
														<table align="center" border="0" cellpadding="0" cellspacing="0" width="75">
															<tbody>
																<tr>
																	<td height="5" style="font-size: 5px; line-height: 5px;">&nbsp;</td>
																</tr>
																<tr>
																	<td align="center">
																		<table align="center" border="0" cellpadding="0" cellspacing="0">
																			<tbody>
																				<tr>

																					<td>
																						<a href="https://www.facebook.com/petrol.si" style="display: block; width: 32px; height: 32px; border-style: none !important; border: 0 !important;" target="_blank">
																							<img alt="FB" border="0" height="32" src="http://www.petrol.si/sites/www.petrol.si/files/newsletter/grafi%C4%8Dni_elementi/ico-facebook.png" style="display: block; width: 32px; height: 32px; font-family: Arial, sans-serif; color: #3b5998; font-size: 20px; font-weight: bold;" width="32" />
																						</a>
																					</td>
																					<td>&nbsp;&nbsp;&nbsp;</td>
																					<td>
																						<a href="https://twitter.com/petrol" style="display: block; width: 32px; height: 32px; border-style: none !important; border: 0 !important;" target="_blank">
																							<img alt="Tw" border="0" height="32" src="http://www.petrol.si/sites/www.petrol.si/files/newsletter/grafi%C4%8Dni_elementi/ico-twitter.png" style="display: block; width: 32px; height: 32px; font-family: Arial, sans-serif; color: #4099FF; font-size: 20px; font-weight: bold;" width="32" />
																						</a>
																					</td>
																					<td>&nbsp;&nbsp;&nbsp;</td>
																					<td>
																						<a href="https://www.youtube.com/user/PetrolMarketing" style="display: block; width: 32px; height: 32px; border-style: none !important; border: 0 !important;" target="_blank">
																							<img alt="YT" border="0" height="32" src="http://www.petrol.si/sites/www.petrol.si/files/newsletter/grafi%C4%8Dni_elementi/ico-youtube.png" style="display: block; width: 32px; height: 32px; font-family: Arial, sans-serif; color: #bb0000; font-size: 20px; font-weight: bold;" width="32" />
																						</a>
																					</td>


																				</tr>
																			</tbody>
																		</table>
																	</td>
																</tr>
															</tbody>
														</table>
													</td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
								<tr>
									<td height="15" style="font-size: 15px; line-height: 15px;">&nbsp;</td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
			</tbody>
		</table>
		<table bgcolor="ffffff" border="0" cellpadding="0" cellspacing="0" width="100%">
			<tbody>
				<tr>
					<td align="center">
						<table align="center" border="0" cellpadding="0" cellspacing="0" class="container590" width="590">
							<tbody>

								<tr>
									<td align="center">
										<table align="left" border="0" cellpadding="0" cellspacing="0" class="container590" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;">
											<tbody>
												<tr>
													<td align="center">
														<table border="0" cellpadding="0" cellspacing="0">
															<tbody>
																<tr>
																	<td class="center-align" style="color: #aaacaf; font-size: 13px; font-family: ProximaNova, Arial, sans-serif; mso-line-height-rule: exactly; line-height: 21px;">
																		<div style="line-height: 21px; font-size: 11px;">Družba PETROL, Slovenska energetska družba, d.d., Ljubljana, Dunajska c. 50, 1000 Ljubljana, vpisana v sodni register pri Okrožnem sodišču v Ljubljani, matična številka: <span class="mat">5025796000</span>, osnovni kapital: 52.240.977,04 EUR, ID za DDV SI80267432</div>
																	</td>
																</tr>
															</tbody>
														</table>
													</td>
												</tr>
											</tbody>
										</table>

										<table align="left" border="0" cellpadding="0" cellspacing="0" class="container590" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" width="5">
											<tbody>
												<tr>
													<td height="20" style="font-size: 20px; line-height: 20px;" width="5">&nbsp;</td>
												</tr>
											</tbody>
										</table>

										<table align="right" border="0" cellpadding="0" cellspacing="0" class="container590" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;">
											<tbody>
												<tr>
													<td align="center">
														<table align="center" border="0" cellpadding="0" cellspacing="0" width="75">
															<tbody>
																<tr>
																	<td height="5" style="font-size: 5px; line-height: 5px;">&nbsp;</td>
																</tr>
																<tr>
																	<td align="center">

																	</td>
																</tr>
															</tbody>
														</table>
													</td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>

							</tbody>
						</table>
					</td>
				</tr>
			</tbody>
		</table>



		<!-- ###### FOOTER end ###### -->
</body>

</html>
