{{#each data.row}}
<table class="container590" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt; border-bottom: 3px solid #f7f7f7;" align="center" border="0" cellpadding="0" cellspacing="0" width="590">
							<tbody>
								<tr>
									<td style="font-size: 15px; line-height: 15px;" height="15">&nbsp;</td>
								</tr>
								<tr>
									<td>
										<!-- 3 cols container -->
										<table style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" width="590" cellpadding="0" cellspacing="0" border="0" align="center" class="container590">
											<tbody>
												<tr>
													<td>
														{{#col1}}
														<table style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" width="181" align="left" border="0" cellpadding="0" cellspacing="0">
															<tbody>
																<!-- image 1 -->
																<tr>
																	<td width="100%" align="center" class="container590">
																		<a href="{{{url}}}&utm_source=newsletter&utm_medium=email&utm_term={$treat_code}&utm_campaign={$campaign_id}&utm_content={$cus_id}" style="display: block; border-style: none !important; border: 0 !important;">
																			<img src="{{{src}}}" style="display: block;" alt="{{kraj}}" border="0" width="181" height="129">
																		</a>
																	</td>
																</tr>
																<!-- image 1 end -->
																<!-- content 1 -->
																<tr>
																	<td>
																		<table style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" width="181" align="center" border="0" cellpadding="0" cellspacing="0" bgcolor="0a4f99">
																			<tbody>
																				<!-- spacing -->
																				<tr>
																					<td style="font-size: 10px; line-height: 10px;" width="10">&nbsp;</td>
																					<td style="font-size: 10px; line-height: 10px;" width="161">&nbsp;</td>
																					<td style="font-size: 10px; line-height: 10px;" width="10">&nbsp;</td>
																				</tr>
																				<!-- spacing end -->
																				<!-- title 1 -->
																				<tr>
																					<td width="10" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;">&nbsp;</td>
																					<td width="161" style="color: #ffffff; font-size: 16px; font-weight: 700; font-family: ProximaNova, Arial, sans-serif; mso-line-height-rule: exactly; line-height: 20px; text-align: center;">
																						<div style="line-height: 20px; font-size: 11px; color: #7ca1c9;">
																							<span class="ter">{{termin}}</span>
																						</div>
																						<div style="line-height: 20px; text-transform: uppercase;">{{{naziv}}}</div>
																					</td>
																					<td width="10" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;">&nbsp;</td>
																				</tr>
																				<!-- title 1 end -->
																				<!-- spacing -->
																				<tr>
																					<td style="font-size: 10px; line-height: 10px;" width="10">&nbsp;</td>
																					<td style="font-size: 10px; line-height: 10px;" width="161">&nbsp;</td>
																					<td style="font-size: 10px; line-height: 10px;" width="10">&nbsp;</td>
																				</tr>
																				<!-- spacing end -->
																			</tbody>
																		</table>

																		<table style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" align="center" border="0" cellpadding="0" cellspacing="0" width="181">
																			<tbody>
																				<tr>
																					<td style="font-size: 12px; line-height: 12px;" height="12">&nbsp;</td>
																				</tr>
																				<tr>
																					<td>
																						<table style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;border-bottom: 1px solid #eeeeee;" align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
																							<tbody>
																								<tr>
																									<td style="color: #787b80; font-size: 14px; font-family: ProximaNova, Arial, sans-serif; mso-line-height-rule: exactly; line-height: 27px;" align="center">
																										<div style="line-height: 27px;">
																											{{storitev}}
																										</div>
																									</td>
																								</tr>
																							</tbody>
																						</table>
																					</td>
																				</tr>
																				<tr>
																					<td>
																						<table style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;border-bottom: 1px solid #eeeeee;" align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
																							<tbody>
																								<tr>
																									<td style="color: #787b80; font-size: 18px; font-weight: 700; font-family: ProximaNova, Arial, sans-serif; mso-line-height-rule: exactly; line-height: 40px;" align="center">
																										<div style="line-height: 40px;">
																											{{cena}}
																										</div>
																									</td>
																								</tr>
																							</tbody>
																						</table>
																					</td>
																				</tr>
																				<tr>
																					<td style="font-size: 18px; line-height: 18px;" height="18">&nbsp;</td>
																				</tr>
																			</tbody>
																		</table>

																		<table style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" align="center" border="0" cellpadding="0" cellspacing="0" class="container590">
																			<tbody>
																				<tr>
																					<td style="font-size: 10px; line-height: 10px;" height="10">&nbsp;</td>
																				</tr>
																				<tr>
																					<td style="color: #787b80; font-size: 14px; font-family: ProximaNova, Arial, sans-serif; mso-line-height-rule: exactly; line-height: 26px;" align="center">
																						<div style="line-height: 26px;">
																							<a href="{{{url}}}&utm_source=newsletter&utm_medium=email&utm_term={$treat_code}&utm_campaign={$campaign_id}&utm_content={$cus_id}" style="color:#fe0000; text-decoration: none;">Podrobno &nbsp;&gt;</a>
																						</div>
																					</td>
																				</tr>
																			</tbody>
																		</table>

																		<!-- gmail app mobile portrait fix -->
																		<table style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" width="182" align="center" border="0" cellpadding="0" cellspacing="0">
																			<tbody>
																				<tr>
																					<td style="font-family: Arial, sans-serif; font-size: 50px; color: #ffffff; line-height: 12px; overflow:hidden;">
																						<div style="line-height: 12px; overflow:hidden;">
																							---
																							<!--[if !mso 15]><!---->--- --- --- --- ---
																							<!--<![endif]-->
																						</div>
																					</td>
																				</tr>
																			</tbody>
																		</table>
																		<!-- gmail app mobile portrait fix end -->
																	</td>
																</tr>
																<!-- content 1 end -->
															</tbody>
														</table>
														{{/col1}}

														<!-- spacing -->
														<table style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" width="23" align="left" border="0" cellpadding="0" cellspacing="0">
															<tbody>
																<tr>
																	<td style="font-size: 15px; line-height: 15px;" height="15">&nbsp;</td>
																</tr>
															</tbody>
														</table>
														<!-- end of spacing -->

														{{#col2}}
														<table style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" width="181" align="left" border="0" cellpadding="0" cellspacing="0">
															<tbody>
																<!-- image 2 -->
																<tr>
																	<td width="100%" align="center" class="container590">
																		<a href="{{{url}}}&utm_source=newsletter&utm_medium=email&utm_term={$treat_code}&utm_campaign={$campaign_id}&utm_content={$cus_id}" style="display: block; border-style: none !important; border: 0 !important;">
																			<img src="{{{src}}}" style="display: block;" alt="{{kraj}}" border="0" width="181" height="129">
																		</a>
																	</td>
																</tr>
																<!-- image 2 end -->
																<!-- content 2 -->
																<tr>
																	<td>
																		<table style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" width="181" align="center" border="0" cellpadding="0" cellspacing="0" bgcolor="0a4f99">
																			<tbody>
																				<!-- spacing -->
																				<tr>
																					<td style="font-size: 10px; line-height: 10px;" width="10">&nbsp;</td>
																					<td style="font-size: 10px; line-height: 10px;" width="161">&nbsp;</td>
																					<td style="font-size: 10px; line-height: 10px;" width="10">&nbsp;</td>
																				</tr>
																				<!-- spacing end -->
																				<!-- title 2 -->
																				<tr>
																					<td width="10" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;">&nbsp;</td>
																					<td width="161" style="color: #ffffff; font-size: 16px; font-weight: 700; font-family: ProximaNova, Arial, sans-serif; mso-line-height-rule: exactly; line-height: 20px; text-align: center;">
																						<div style="line-height: 20px; font-size: 11px; color: #7ca1c9;">
																							<span class="ter">{{termin}}</span>
																						</div>
																						<div style="line-height: 20px; text-transform: uppercase;">
																							{{{naziv}}}
																						</div>
																					</td>
																					<td width="10" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;">&nbsp;</td>
																				</tr>
																				<!-- title 2 end -->
																				<!-- spacing -->
																				<tr>
																					<td style="font-size: 10px; line-height: 10px;" width="10">&nbsp;</td>
																					<td style="font-size: 10px; line-height: 10px;" width="161">&nbsp;</td>
																					<td style="font-size: 10px; line-height: 10px;" width="10">&nbsp;</td>
																				</tr>
																				<!-- spacing end -->
																			</tbody>
																		</table>

																		<table style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" align="center" border="0" cellpadding="0" cellspacing="0" width="181">
																			<tbody>
																				<tr>
																					<td style="font-size: 12px; line-height: 12px;" height="12">&nbsp;</td>
																				</tr>
																				<tr>
																					<td>
																						<table style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;border-bottom: 1px solid #eeeeee;" align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
																							<tbody>
																								<tr>
																									<td style="color: #787b80; font-size: 14px; font-family: ProximaNova, Arial, sans-serif; mso-line-height-rule: exactly; line-height: 27px;" align="center">
																										<div style="line-height: 27px;">
																											{{storitev}}
																										</div>
																									</td>
																								</tr>
																							</tbody>
																						</table>
																					</td>
																				</tr>
																				<tr>
																					<td>
																						<table style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;border-bottom: 1px solid #eeeeee;" align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
																							<tbody>
																								<tr>
																									<td style="color: #787b80; font-size: 18px; font-weight: 700; font-family: ProximaNova, Arial, sans-serif; mso-line-height-rule: exactly; line-height: 40px;" align="center">
																										<div style="line-height: 40px;">
																											{{cena}}
																										</div>
																									</td>
																								</tr>
																							</tbody>
																						</table>
																					</td>
																				</tr>
																				<tr>
																					<td style="font-size: 18px; line-height: 18px;" height="18">&nbsp;</td>
																				</tr>
																			</tbody>
																		</table>

																		<table style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" align="center" border="0" cellpadding="0" cellspacing="0" class="container590">
																			<tbody>
																				<tr>
																					<td style="font-size: 10px; line-height: 10px;" height="10">&nbsp;</td>
																				</tr>
																				<tr>
																					<td style="color: #787b80; font-size: 14px; font-family: ProximaNova, Arial, sans-serif; mso-line-height-rule: exactly; line-height: 26px;" align="center">
																						<div style="line-height: 26px;">
																							<a href="{{{url}}}&utm_source=newsletter&utm_medium=email&utm_term={$treat_code}&utm_campaign={$campaign_id}&utm_content={$cus_id}" style="color:#fe0000; text-decoration: none;">Podrobno &nbsp;&gt;</a>
																						</div>
																					</td>
																				</tr>
																			</tbody>
																		</table>

																		<!-- gmail app mobile portrait fix -->
																		<table style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" width="182" align="center" border="0" cellpadding="0" cellspacing="0">
																			<tbody>
																				<tr>
																					<td style="font-family: Arial, sans-serif; font-size: 50px; color: #ffffff; line-height: 12px; overflow:hidden;">
																						<div style="line-height: 12px; overflow:hidden;">
																							---
																							<!--[if !mso 15]><!---->--- --- --- --- ---
																							<!--<![endif]-->
																						</div>
																					</td>
																				</tr>
																			</tbody>
																		</table>
																		<!-- gmail app mobile portrait fix end -->
																	</td>
																</tr>
																<!-- content 2 end -->
															</tbody>
														</table>
														{{/col2}}

														<!-- spacing -->
														<table style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" width="1" align="left" border="0" cellpadding="0" cellspacing="0">
															<tbody>
																<tr>
																	<td style="font-size: 15px; line-height: 15px;" height="15">&nbsp;</td>
																</tr>
															</tbody>
														</table>
														<!-- spacing end -->

														{{#col3}}
														<table style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" width="181" align="right" border="0" cellpadding="0" cellspacing="0">
															<tbody>
																<!-- image 3 -->
																<tr>
																	<td width="100%" align="center" class="container590">
																		<a href="{{{url}}}&utm_source=newsletter&utm_medium=email&utm_term={$treat_code}&utm_campaign={$campaign_id}&utm_content={$cus_id}" style="display: block; border-style: none !important; border: 0 !important;">
																			<img src="{{{src}}}" style="display: block;" alt="{{kraj}}" border="0" width="181" height="129">
																		</a>
																	</td>
																</tr>
																<!-- image 3 end -->
																<!-- content 3 -->
																<tr>
																	<td>
																		<table style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" width="181" align="center" border="0" cellpadding="0" cellspacing="0" bgcolor="0a4f99">
																			<tbody>
																				<!-- spacing -->
																				<tr>
																					<td style="font-size: 10px; line-height: 10px;" width="10">&nbsp;</td>
																					<td style="font-size: 10px; line-height: 10px;" width="161">&nbsp;</td>
																					<td style="font-size: 10px; line-height: 10px;" width="10">&nbsp;</td>
																				</tr>
																				<!-- spacing end -->
																				<!-- title 3 -->
																				<tr>
																					<td width="10" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;">&nbsp;</td>
																					<td width="161" style="color: #ffffff; font-size: 16px; font-weight: 700; font-family: ProximaNova, Arial, sans-serif; mso-line-height-rule: exactly; line-height: 20px; text-align: center;">
																						<div style="line-height: 20px; font-size: 11px; color: #7ca1c9;">
																							<span class="ter">{{termin}}</span>
																						</div>
																						<div style="line-height: 20px; text-transform: uppercase;">
																							{{{naziv}}}
																						</div>
																					</td>
																					<td width="10" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;">&nbsp;</td>
																				</tr>
																				<!-- title 3 end -->
																				<!-- spacing -->
																				<tr>
																					<td style="font-size: 10px; line-height: 10px;" width="10">&nbsp;</td>
																					<td style="font-size: 10px; line-height: 10px;" width="161">&nbsp;</td>
																					<td style="font-size: 10px; line-height: 10px;" width="10">&nbsp;</td>
																				</tr>
																				<!-- spacing end -->
																			</tbody>
																		</table>

																		<table style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" align="center" border="0" cellpadding="0" cellspacing="0" width="181">
																			<tbody>
																				<tr>
																					<td style="font-size: 12px; line-height: 12px;" height="12">&nbsp;</td>
																				</tr>
																				<tr>
																					<td>
																						<table style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;border-bottom: 1px solid #eeeeee;" align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
																							<tbody>
																								<tr>
																									<td style="color: #787b80; font-size: 14px; font-family: ProximaNova, Arial, sans-serif; mso-line-height-rule: exactly; line-height: 27px;" align="center">
																										<div style="line-height: 27px;">
																											{{storitev}}
																										</div>
																									</td>
																								</tr>
																							</tbody>
																						</table>
																					</td>
																				</tr>
																				<tr>
																					<td>
																						<table style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;border-bottom: 1px solid #eeeeee;" align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
																							<tbody>
																								<tr>
																									<td style="color: #787b80; font-size: 18px; font-weight: 700; font-family: ProximaNova, Arial, sans-serif; mso-line-height-rule: exactly; line-height: 40px;" align="center">
																										<div style="line-height: 40px;">
																											{{cena}}
																										</div>
																									</td>
																								</tr>
																							</tbody>
																						</table>
																					</td>
																				</tr>
																				<tr>
																					<td style="font-size: 18px; line-height: 18px;" height="18">&nbsp;</td>
																				</tr>
																			</tbody>
																		</table>

																		<table style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" align="center" border="0" cellpadding="0" cellspacing="0" class="container590">
																			<tbody>
																				<tr>
																					<td style="font-size: 10px; line-height: 10px;" height="10">&nbsp;</td>
																				</tr>
																				<tr>
																					<td style="color: #787b80; font-size: 14px; font-family: ProximaNova, Arial, sans-serif; mso-line-height-rule: exactly; line-height: 26px;" align="center">
																						<div style="line-height: 26px;">
																							<a href="{{{url}}}&utm_source=newsletter&utm_medium=email&utm_term={$treat_code}&utm_campaign={$campaign_id}&utm_content={$cus_id}" style="color:#fe0000; text-decoration: none;">Podrobno &nbsp;&gt;</a>
																						</div>
																					</td>
																				</tr>
																			</tbody>
																		</table>

																		<!-- gmail app mobile portrait fix -->
																		<table style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" width="182" align="center" border="0" cellpadding="0" cellspacing="0">
																			<tbody>
																				<tr>
																					<td style="font-family: Arial, sans-serif; font-size: 50px; color: #ffffff; line-height: 12px; overflow:hidden;">
																						<div style="line-height: 12px; overflow:hidden;">
																							---
																							<!--[if !mso 15]><!---->--- --- --- --- ---
																							<!--<![endif]-->
																						</div>
																					</td>
																				</tr>
																			</tbody>
																		</table>
																		<!-- gmail app mobile portrait fix end -->
																	</td>
																</tr>
																<!-- content 3 end -->
															</tbody>
														</table>
														{{/col3}}
													</td>
												</tr>
											</tbody>
										</table>
										<!-- 3 cols container end -->
									</td>
								</tr>
							</tbody>
						</table>
{{/each}}
