{{#each data.row}}
<table style="border-collapse:collapse;mso-table-lspace:0;mso-table-rspace:0;border-bottom:3px solid #f7f7f7" class=container590 align=center border=0 cellpadding=0 cellspacing=0 width=590>
	<tbody>
		<tr>
			<td style=font-size:15px;line-height:15px height=15>&nbsp;</td>
		</tr>
		<tr>
			<td>
				<table style=border-collapse:collapse;mso-table-lspace:0;mso-table-rspace:0 width=590 cellpadding=0 cellspacing=0 border=0 align=center class=container590>
					<tbody>
						<tr>
							<td>
								{{#col1}}
								<table style=border-collapse:collapse;mso-table-lspace:0;mso-table-rspace:0 width=182 align=left border=0 cellpadding=0 cellspacing=0>
									<tbody>
										<tr>
											<td width=100% align=center class=container590>
												<a href="{{href}}?utm_source=newsletter&utm_medium=email&utm_term={$treat_code}&utm_campaign={$campaign_id}&utm_content={$cus_id}" style=display:block;border-style:none!important;border:0!important><img src="{{src}}" style=display:block alt="{{name}}" border=0 width=182 height=145>
												</a>
											</td>
										</tr>
										<tr>
											<td>
												<table width=182 style="border-bottom:2px solid #f4f4f5" align=center border=0 cellpadding=0 cellspacing=0>
													<tbody>
														<tr>
															<td style=color:#384048;font-size:15px;font-weight:700;font-family:ProximaNova,Arial,sans-serif;mso-line-height-rule:exactly;line-height:20px align=center>
																<div style=line-height:20px;text-transform:uppercase>
																	<a href="{{href}}?utm_source=newsletter&utm_medium=email&utm_term={$treat_code}&utm_campaign={$campaign_id}&utm_content={$cus_id}" style=color:#384048;text-decoration:none>{{{name}}}</a>
																</div>
															</td>
														</tr>
														<tr>
															<td style=font-size:15px;line-height:15px height=15>&nbsp;</td>
														</tr>
														<tr>
															<td style=font-size:2px;line-height:2px bgcolor=f4f4f5 height=2>&nbsp;</td>
														</tr>
														<tr>
															<td style=font-size:12px;line-height:12px height=12>&nbsp;</td>
														</tr>
														<tr>
															<td>
																<table style="border-collapse:collapse;mso-table-lspace:0;mso-table-rspace:0;border-bottom:1px solid #eee" align=left border=0 cellpadding=0 cellspacing=0 width=182>
																	<tbody>
																		<tr>
																			<td style=font-size:3px;line-height:3px height=3>&nbsp;</td>
																		</tr>
																		<tr>
																			<td width=182>
																				<table align=left border=0 cellpadding=0 cellspacing=0>
																					<tbody>
																						<tr>
																							<td style=color:#787b80;font-size:14px;font-family:ProximaNova,Arial,sans-serif;mso-line-height-rule:exactly;line-height:20px>
																								<div style=line-height:20px>
																								{{#if saving}}
																									Prihranek:
																									{{else}}
																									Število točk:
																								{{/if}}
																								</div>
																							</td>
																						</tr>
																					</tbody>
																				</table>
																				<table align=right border=0 cellpadding=0 cellspacing=0>
																					<tbody>
																						<tr>
																							<td style=color:#787b80;font-size:14px;font-family:ProximaNova,Arial,sans-serif;mso-line-height-rule:exactly;line-height:20px;text-align:right align=right>
																								<div style=line-height:20px>
																									{{#if saving}}
																									{{saving}} €
																									{{else}}
																									{{points}}
																									{{/if}}
																								</div>
																							</td>
																						</tr>
																					</tbody>
																				</table>
																			</td>
																		</tr>
																		<tr>
																			<td style=font-size:3px;line-height:3px height=3>&nbsp;</td>
																		</tr>
																	</tbody>
																</table>
															</td>
														</tr>
														<tr>
															<td>
																<table style="border-collapse:collapse;mso-table-lspace:0;mso-table-rspace:0;border-bottom:1px solid #eee" align=left border=0 cellpadding=0 cellspacing=0 width=182>
																	<tbody>
																		<tr>
																			<td style=font-size:3px;line-height:3px height=3>&nbsp;</td>
																		</tr>
																		<tr>
																			<td width=182>
																				<table align=left border=0 cellpadding=0 cellspacing=0>
																					<tbody>
																						<tr>
																							<td style=color:#787b80;font-size:14px;font-family:ProximaNova,Arial,sans-serif;mso-line-height-rule:exactly;line-height:20px>
																								<div style=line-height:20px>
																									Cena:
																								</div>
																							</td>
																						</tr>
																					</tbody>
																				</table>
																				<table align=right border=0 cellpadding=0 cellspacing=0>
																					<tbody>
																						<tr>
																							<td style=color:#424447;font-weight:700;font-size:14px;font-family:ProximaNova,Arial,sans-serif;mso-line-height-rule:exactly;line-height:20px;text-align:right align=right>
																								<div style=line-height:20px>
																									{{price}} €
																								</div>
																							</td>
																						</tr>
																					</tbody>
																				</table>
																			</td>
																		</tr>
																		<tr>
																			<td style=font-size:3px;line-height:3px height=3>&nbsp;</td>
																		</tr>
																	</tbody>
																</table>
															</td>
														</tr>
														<tr>
															<td>
																<table style=border-collapse:collapse;mso-table-lspace:0;mso-table-rspace:0 align=left border=0 cellpadding=0 cellspacing=0 width=182>
																	<tbody>
																		<tr>
																			<td style=font-size:3px;line-height:3px height=3>&nbsp;</td>
																		</tr>
																		<tr>
																			<td width=182>
																				<table align=left border=0 cellpadding=0 cellspacing=0>
																					<tbody>
																						<tr>
																							<td style=color:#787b80;font-size:14px;font-family:ProximaNova,Arial,sans-serif;mso-line-height-rule:exactly;line-height:20px>
																								<div style=line-height:20px>
																									Redna cena:
																								</div>
																							</td>
																						</tr>
																					</tbody>
																				</table>
																				<table align=right border=0 cellpadding=0 cellspacing=0>
																					<tbody>
																						<tr>
																							<td style=color:#787b80;font-size:14px;font-family:ProximaNova,Arial,sans-serif;mso-line-height-rule:exactly;line-height:20px;text-align:right align=right>
																								<div style=line-height:20px>
																									{{msrprice}} €
																								</div>
																							</td>
																						</tr>
																					</tbody>
																				</table>
																			</td>
																		</tr>
																		<tr>
																			<td style=font-size:3px;line-height:3px height=3>&nbsp;</td>
																		</tr>
																	</tbody>
																</table>
															</td>
														</tr>
														<tr>
															<td style=font-size:10px;line-height:10px height=10>&nbsp;</td>
														</tr>
													</tbody>
												</table>
												<table style=border-collapse:collapse;mso-table-lspace:0;mso-table-rspace:0 align=center border=0 cellpadding=0 cellspacing=0 class=container590>
													<tbody>
														<tr>
															<td style=font-size:10px;line-height:10px height=10>&nbsp;</td>
														</tr>
														<tr>
															<td style=color:#787b80;font-size:14px;font-family:ProximaNova,Arial,sans-serif;mso-line-height-rule:exactly;line-height:26px align=center>
																<div style=line-height:26px>
																	<a href="{{href}}?utm_source=newsletter&utm_medium=email&utm_term={$treat_code}&utm_campaign={$campaign_id}&utm_content={$cus_id}" style=color:#fe0000;text-decoration:none>Podrobno &nbsp;&gt;</a>
																</div>
															</td>
														</tr>
													</tbody>
												</table>
												<!-- gmail app mobile portrait fix -->
																	<table style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" width="182" align="center" border="0" cellpadding="0" cellspacing="0">
																		<tbody>
																			<tr>
																				<td style="font-family: Arial, sans-serif; font-size: 50px; color: #ffffff; line-height: 12px; overflow:hidden;">
																					<div style="line-height: 12px; overflow:hidden;">
																						---
																						<!--[if !mso 15]><!---->--- --- --- --- ---
																						<!--<![endif]-->
																					</div>
																				</td>
																			</tr>
																		</tbody>
																	</table>
																	<!-- gmail app mobile portrait fix end -->
											</td>
										</tr>
									</tbody>
								</table>
								{{/col1}}
								<table style=border-collapse:collapse;mso-table-lspace:0;mso-table-rspace:0 width=23 align=left border=0 cellpadding=0 cellspacing=0>
									<tbody>
										<tr>
											<td style=font-size:15px;line-height:15px height=15>&nbsp;</td>
										</tr>
									</tbody>
								</table>
								{{#col2}}
								<table style=border-collapse:collapse;mso-table-lspace:0;mso-table-rspace:0 width=182 align=left border=0 cellpadding=0 cellspacing=0>
									<tbody>
										<tr>
											<td width=100% align=center class=container590>
												<a href="{{href}}?utm_source=newsletter&utm_medium=email&utm_term={$treat_code}&utm_campaign={$campaign_id}&utm_content={$cus_id}"
												style=display:block;border-style:none!important;border:0!important><img src={{src}} style=display:block alt="{{name}}" border=0 width=182 height=145>
												</a>
											</td>
										</tr>
										<tr>
											<td>
												<table width=182 style="border-bottom:2px solid #f4f4f5" align=center border=0 cellpadding=0 cellspacing=0>
													<tbody>
														<tr>
															<td style=color:#384048;font-size:15px;font-weight:700;font-family:ProximaNova,Arial,sans-serif;mso-line-height-rule:exactly;line-height:20px align=center>
																<div style=line-height:20px;text-transform:uppercase>
																	<a href="{{href}}?utm_source=newsletter&utm_medium=email&utm_term={$treat_code}&utm_campaign={$campaign_id}&utm_content={$cus_id}"
																	style=color:#384048;text-decoration:none>{{{name}}}</a>
																</div>
															</td>
														</tr>
														<tr>
															<td style=font-size:15px;line-height:15px height=15>&nbsp;</td>
														</tr>
														<tr>
															<td style=font-size:2px;line-height:2px bgcolor=f4f4f5 height=2>&nbsp;</td>
														</tr>
														<tr>
															<td style=font-size:12px;line-height:12px height=12>&nbsp;</td>
														</tr>
														<tr>
															<td>
																<table style="border-collapse:collapse;mso-table-lspace:0;mso-table-rspace:0;border-bottom:1px solid #eee" align=left border=0 cellpadding=0 cellspacing=0 width=182>
																	<tbody>
																		<tr>
																			<td style=font-size:3px;line-height:3px height=3>&nbsp;</td>
																		</tr>
																		<tr>
																			<td width=182>
																				<table align=left border=0 cellpadding=0 cellspacing=0>
																					<tbody>
																						<tr>
																							<td style=color:#787b80;font-size:14px;font-family:ProximaNova,Arial,sans-serif;mso-line-height-rule:exactly;line-height:20px>
																								<div style=line-height:20px>
																									{{#if saving}}
																									Prihranek:
																									{{else}}
																									Število točk:
																								{{/if}}
																								</div>
																							</td>
																						</tr>
																					</tbody>
																				</table>
																				<table align=right border=0 cellpadding=0 cellspacing=0>
																					<tbody>
																						<tr>
																							<td style=color:#787b80;font-size:14px;font-family:ProximaNova,Arial,sans-serif;mso-line-height-rule:exactly;line-height:20px;text-align:right align=right>
																								<div style=line-height:20px>
																									{{#if saving}}
																									{{saving}} €
																									{{else}}
																									{{points}}
																									{{/if}}
																								</div>
																							</td>
																						</tr>
																					</tbody>
																				</table>
																			</td>
																		</tr>
																		<tr>
																			<td style=font-size:3px;line-height:3px height=3>&nbsp;</td>
																		</tr>
																	</tbody>
																</table>
															</td>
														</tr>
														<tr>
															<td>
																<table style="border-collapse:collapse;mso-table-lspace:0;mso-table-rspace:0;border-bottom:1px solid #eee" align=left border=0 cellpadding=0 cellspacing=0 width=182>
																	<tbody>
																		<tr>
																			<td style=font-size:3px;line-height:3px height=3>&nbsp;</td>
																		</tr>
																		<tr>
																			<td width=182>
																				<table align=left border=0 cellpadding=0 cellspacing=0>
																					<tbody>
																						<tr>
																							<td style=color:#787b80;font-size:14px;font-family:ProximaNova,Arial,sans-serif;mso-line-height-rule:exactly;line-height:20px>
																								<div style=line-height:20px>
																									Cena:
																								</div>
																							</td>
																						</tr>
																					</tbody>
																				</table>
																				<table align=right border=0 cellpadding=0 cellspacing=0>
																					<tbody>
																						<tr>
																							<td style=color:#424447;font-weight:700;font-size:14px;font-family:ProximaNova,Arial,sans-serif;mso-line-height-rule:exactly;line-height:20px;text-align:right align=right>
																								<div style=line-height:20px>
																									{{price}} €
																								</div>
																							</td>
																						</tr>
																					</tbody>
																				</table>
																			</td>
																		</tr>
																		<tr>
																			<td style=font-size:3px;line-height:3px height=3>&nbsp;</td>
																		</tr>
																	</tbody>
																</table>
															</td>
														</tr>
														<tr>
															<td>
																<table style=border-collapse:collapse;mso-table-lspace:0;mso-table-rspace:0 align=left border=0 cellpadding=0 cellspacing=0 width=182>
																	<tbody>
																		<tr>
																			<td style=font-size:3px;line-height:3px height=3>&nbsp;</td>
																		</tr>
																		<tr>
																			<td width=182>
																				<table align=left border=0 cellpadding=0 cellspacing=0>
																					<tbody>
																						<tr>
																							<td style=color:#787b80;font-size:14px;font-family:ProximaNova,Arial,sans-serif;mso-line-height-rule:exactly;line-height:20px>
																								<div style=line-height:20px>
																									Redna cena:
																								</div>
																							</td>
																						</tr>
																					</tbody>
																				</table>
																				<table align=right border=0 cellpadding=0 cellspacing=0>
																					<tbody>
																						<tr>
																							<td style=color:#787b80;font-size:14px;font-family:ProximaNova,Arial,sans-serif;mso-line-height-rule:exactly;line-height:20px;text-align:right align=right>
																								<div style=line-height:20px>
																									{{msrprice}} €
																								</div>
																							</td>
																						</tr>
																					</tbody>
																				</table>
																			</td>
																		</tr>
																		<tr>
																			<td style=font-size:3px;line-height:3px height=3>&nbsp;</td>
																		</tr>
																	</tbody>
																</table>
															</td>
														</tr>
														<tr>
															<td style=font-size:10px;line-height:10px height=10>&nbsp;</td>
														</tr>
													</tbody>
												</table>
												<table style=border-collapse:collapse;mso-table-lspace:0;mso-table-rspace:0 align=center border=0 cellpadding=0 cellspacing=0 class=container590>
													<tbody>
														<tr>
															<td style=font-size:10px;line-height:10px height=10>&nbsp;</td>
														</tr>
														<tr>
															<td style=color:#787b80;font-size:14px;font-family:ProximaNova,Arial,sans-serif;mso-line-height-rule:exactly;line-height:26px align=center>
																<div style=line-height:26px>
																	<a href="{{href}}?utm_source=newsletter&utm_medium=email&utm_term={$treat_code}&utm_campaign={$campaign_id}&utm_content={$cus_id}"
																	style=color:#fe0000;text-decoration:none>Podrobno &nbsp;&gt;</a>
																</div>
															</td>
														</tr>
													</tbody>
												</table>
												<!-- gmail app mobile portrait fix -->
																	<table style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" width="182" align="center" border="0" cellpadding="0" cellspacing="0">
																		<tbody>
																			<tr>
																				<td style="font-family: Arial, sans-serif; font-size: 50px; color: #ffffff; line-height: 12px; overflow:hidden;">
																					<div style="line-height: 12px; overflow:hidden;">
																						---
																						<!--[if !mso 15]><!---->--- --- --- --- ---
																						<!--<![endif]-->
																					</div>
																				</td>
																			</tr>
																		</tbody>
																	</table>
																	<!-- gmail app mobile portrait fix end -->
											</td>
										</tr>
									</tbody>
								</table>
								{{/col2}}
								<table style=border-collapse:collapse;mso-table-lspace:0;mso-table-rspace:0 width=1 align=left border=0 cellpadding=0 cellspacing=0>
									<tbody>
										<tr>
											<td style=font-size:15px;line-height:15px height=15>&nbsp;</td>
										</tr>
									</tbody>
								</table>
								{{#col3}}
								<table style=border-collapse:collapse;mso-table-lspace:0;mso-table-rspace:0 width=182 align=right border=0 cellpadding=0 cellspacing=0>
									<tbody>
										<tr>
											<td width=100% align=center class=container590>
												<a href="{{href}}?utm_source=newsletter&utm_medium=email&utm_term={$treat_code}&utm_campaign={$campaign_id}&utm_content={$cus_id}"
												style=display:block;border-style:none!important;border:0!important><img src={{src}} style=display:block alt="{{name}}" border=0 width=182 height=145>
												</a>
											</td>
										</tr>
										<tr>
											<td>
												<table width=182 style="border-bottom:2px solid #f4f4f5" align=center border=0 cellpadding=0 cellspacing=0>
													<tbody>
														<tr>
															<td style=color:#384048;font-size:15px;font-weight:700;font-family:ProximaNova,Arial,sans-serif;mso-line-height-rule:exactly;line-height:20px align=center>
																<div style=line-height:20px;text-transform:uppercase>
																	<a href="{{href}}?utm_source=newsletter&utm_medium=email&utm_term={$treat_code}&utm_campaign={$campaign_id}&utm_content={$cus_id}"
																	style=color:#384048;text-decoration:none>{{{name}}}</a>
																</div>
															</td>
														</tr>
														<tr>
															<td style=font-size:15px;line-height:15px height=15>&nbsp;</td>
														</tr>
														<tr>
															<td style=font-size:2px;line-height:2px bgcolor=f4f4f5 height=2>&nbsp;</td>
														</tr>
														<tr>
															<td style=font-size:12px;line-height:12px height=12>&nbsp;</td>
														</tr>
														<tr>
															<td>
																<table style="border-collapse:collapse;mso-table-lspace:0;mso-table-rspace:0;border-bottom:1px solid #eee" align=left border=0 cellpadding=0 cellspacing=0 width=182>
																	<tbody>
																		<tr>
																			<td style=font-size:3px;line-height:3px height=3>&nbsp;</td>
																		</tr>
																		<tr>
																			<td width=182>
																				<table align=left border=0 cellpadding=0 cellspacing=0>
																					<tbody>
																						<tr>
																							<td style=color:#787b80;font-size:14px;font-family:ProximaNova,Arial,sans-serif;mso-line-height-rule:exactly;line-height:20px>
																								<div style=line-height:20px>
																									{{#if saving}}
																									Prihranek:
																									{{else}}
																									Število točk:
																								{{/if}}
																								</div>
																							</td>
																						</tr>
																					</tbody>
																				</table>
																				<table align=right border=0 cellpadding=0 cellspacing=0>
																					<tbody>
																						<tr>
																							<td style=color:#787b80;font-size:14px;font-family:ProximaNova,Arial,sans-serif;mso-line-height-rule:exactly;line-height:20px;text-align:right align=right>
																								<div style=line-height:20px>
																									{{#if saving}}
																									{{saving}} €
																									{{else}}
																									{{points}}
																									{{/if}}
																								</div>
																							</td>
																						</tr>
																					</tbody>
																				</table>
																			</td>
																		</tr>
																		<tr>
																			<td style=font-size:3px;line-height:3px height=3>&nbsp;</td>
																		</tr>
																	</tbody>
																</table>
															</td>
														</tr>
														<tr>
															<td>
																<table style="border-collapse:collapse;mso-table-lspace:0;mso-table-rspace:0;border-bottom:1px solid #eee" align=left border=0 cellpadding=0 cellspacing=0 width=182>
																	<tbody>
																		<tr>
																			<td style=font-size:3px;line-height:3px height=3>&nbsp;</td>
																		</tr>
																		<tr>
																			<td width=182>
																				<table align=left border=0 cellpadding=0 cellspacing=0>
																					<tbody>
																						<tr>
																							<td style=color:#787b80;font-size:14px;font-family:ProximaNova,Arial,sans-serif;mso-line-height-rule:exactly;line-height:20px>
																								<div style=line-height:20px>
																									Cena:
																								</div>
																							</td>
																						</tr>
																					</tbody>
																				</table>
																				<table align=right border=0 cellpadding=0 cellspacing=0>
																					<tbody>
																						<tr>
																							<td style=color:#424447;font-weight:700;font-size:14px;font-family:ProximaNova,Arial,sans-serif;mso-line-height-rule:exactly;line-height:20px;text-align:right align=right>
																								<div style=line-height:20px>
																									{{price}} €
																								</div>
																							</td>
																						</tr>
																					</tbody>
																				</table>
																			</td>
																		</tr>
																		<tr>
																			<td style=font-size:3px;line-height:3px height=3>&nbsp;</td>
																		</tr>
																	</tbody>
																</table>
															</td>
														</tr>
														<tr>
															<td>
																<table style=border-collapse:collapse;mso-table-lspace:0;mso-table-rspace:0 align=left border=0 cellpadding=0 cellspacing=0 width=182>
																	<tbody>
																		<tr>
																			<td style=font-size:3px;line-height:3px height=3>&nbsp;</td>
																		</tr>
																		<tr>
																			<td width=182>
																				<table align=left border=0 cellpadding=0 cellspacing=0>
																					<tbody>
																						<tr>
																							<td style=color:#787b80;font-size:14px;font-family:ProximaNova,Arial,sans-serif;mso-line-height-rule:exactly;line-height:20px>
																								<div style=line-height:20px>
																									Redna cena:
																								</div>
																							</td>
																						</tr>
																					</tbody>
																				</table>
																				<table align=right border=0 cellpadding=0 cellspacing=0>
																					<tbody>
																						<tr>
																							<td style=color:#787b80;font-size:14px;font-family:ProximaNova,Arial,sans-serif;mso-line-height-rule:exactly;line-height:20px;text-align:right align=right>
																								<div style=line-height:20px>
																									{{msrprice}} €
																								</div>
																							</td>
																						</tr>
																					</tbody>
																				</table>
																			</td>
																		</tr>
																		<tr>
																			<td style=font-size:3px;line-height:3px height=3>&nbsp;</td>
																		</tr>
																	</tbody>
																</table>
															</td>
														</tr>
														<tr>
															<td style=font-size:10px;line-height:10px height=10>&nbsp;</td>
														</tr>
													</tbody>
												</table>
												<table style=border-collapse:collapse;mso-table-lspace:0;mso-table-rspace:0 align=center border=0 cellpadding=0 cellspacing=0 class=container590>
													<tbody>
														<tr>
															<td style=font-size:10px;line-height:10px height=10>&nbsp;</td>
														</tr>
														<tr>
															<td style=color:#787b80;font-size:14px;font-family:ProximaNova,Arial,sans-serif;mso-line-height-rule:exactly;line-height:26px align=center>
																<div style=line-height:26px>
																	<a href="{{href}}?utm_source=newsletter&utm_medium=email&utm_term={$treat_code}&utm_campaign={$campaign_id}&utm_content={$cus_id}"
																	style=color:#fe0000;text-decoration:none>Podrobno &nbsp;&gt;</a>
																</div>
															</td>
														</tr>
													</tbody>
												</table>
												<!-- gmail app mobile portrait fix -->
																	<table style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" width="182" align="center" border="0" cellpadding="0" cellspacing="0">
																		<tbody>
																			<tr>
																				<td style="font-family: Arial, sans-serif; font-size: 50px; color: #ffffff; line-height: 12px; overflow:hidden;">
																					<div style="line-height: 12px; overflow:hidden;">
																						---
																						<!--[if !mso 15]><!---->--- --- --- --- ---
																						<!--<![endif]-->
																					</div>
																				</td>
																			</tr>
																		</tbody>
																	</table>
																	<!-- gmail app mobile portrait fix end -->
											</td>
										</tr>
									</tbody>
								</table>
								{{/col3}}
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>
{{/each}}
